
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: default;
    user-select: none;
}

body {
    background-color: black;
    color: #ffe7b7;
    font-family: 'Crimson Text', serif;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: #1d1d1d;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffe7b7;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: #ffd768; 
  }

/* ----------- TITLESCREEN ----------- */

#titlescreen {
    position:fixed;
    width:100%;
    height:100%;
    background-color: black;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#startMenu {
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center; 
    text-align: center;
    width:100%;
    /* height:110%; */
    margin: 0 auto;
    
}

.startMenuBtn {
    width:200px;
    height:auto;
    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #ffe7b7;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    /* display: none; */
}

.startMenuBtn:hover {
    font-weight: 1000;
}

#title {
    font-size: 48px;
    text-align: center;
    margin-top:200px;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* ----------- MAIN UI ----------- */

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    display: none;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 50px; /* Leaving some space for menu and log buttons */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#choice {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    height:auto;
    transform: translate(-50%,-50%);
    padding:25px;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    text-align: center;
}

.choiceBtn {
    width:400px;
    height:auto;
    background-color: #1d1d1d;
    color: #ffe7b7;
    font-family: 'Crimson Text', serif;
    border-color: #ffe7b7;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    padding:5px;
    text-align: center;
    margin:10px;
    animation: fadein 3s;
}

.choiceBtn:hover {
    font-weight: 1000;
}

#footer {
    margin-left: 75px;
    margin-right: 75px;
    position: fixed;
    bottom: 20px;
    width: 84%;
    box-sizing : border-box;
}

#msgBox {
    background-color: #1d1d1d;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left:40px;
    padding-right: 40px;
    height: 80px;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    opacity: 0.8;
    color: rgba(255,231,183, 1.0);
    border-color: #ffe7b7;
    border-style: double;
    border-width: 4px;
}

#nameBox {
    background-color: #1d1d1d;
    height:10px;
    font-size: 20px;
    font-family: 'Crimson Text', serif;
    opacity: 0.8;
    border-color: #ffe7b7;
    border-style: double;
    border-width: 4px;
    display: none; /* Hidden by default */
}

/* #inputBox {
    background-color: #1d1d1d;
    margin-top: 10px;
    margin-bottom: 10px;
    height:25px;
    padding:5px;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
} */

#userInput { 
    background-color: #1d1d1d;
    width:100%;
    padding:2px;
    color:#ffe7b7;
    font-size: 16px;
    box-sizing : border-box;
    border-color: #ffe7b7;
    font-family: 'Crimson Text', serif;
}

input:focus {
    outline-width: 0;
    box-shadow:none;
    outline:none;
}

.menuBtn {
    float: right;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #1d1d1d;
    color: #ffe7b7;
    height:20px;
    font-family: 'Crimson Text', serif;
    text-align: center;
    padding: 0;
    width:80px;
    border-color: #ffe7b7;
    border-style: solid;
    border-width: 1px;
    height:auto;
    
}

.menuBtn:hover {
    background-color: #2e2e2e;
}

#pauseOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  }

  #pauseMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    height:auto;
    color: #ffe7b7;
    background-color: #1d1d1d;
    border-color: #ffe7b7;
    border-style: solid;
    border-width: 1px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding:25px;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    text-align: center;
  }

  .pMenuBtn {
    width:200px;
    height:auto;
    background-color: #1d1d1d;
    color: #ffe7b7;
    font-family: 'Crimson Text', serif;
    border-color: #ffe7b7;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    padding:5px;
    text-align: center;
    margin:10px;
  }

  .pMenuBtn:hover {
    background-color: #2e2e2e;
  }


/* ----------- SAVE/LOAD SCREEN ----------- */

 #saveLoadMenuContainer {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
 }

 .centerContainer {
    position: absolute;
    font-family: 'Crimson Text', serif;
    top: 50%;
    left: 50%;
    height:auto;
    color: #ffe7b7;
    transform: translate(-50%,-50%);
    padding:25px;
    display: inline-flex;
    /* align-items items in column */
    flex-direction: column;
    /* center items horizontally */
    align-items: center;
    /* center items vertically */
    justify-content: center;
    text-align: center;
 }

 #saveLoadMenu {
    list-style-type: none;
    position: relative;
    height:400px;
    overflow-y: scroll;
    padding: 0;
 }

 #saveLoadMenu li {
    color: #ffe7b7;
    font-size: 20px;
    background-color: #1d1d1d;
    border-color: #ffe7b7;
    border-style: solid;
    border-width: 1px;
    width:500px;
    height:auto;
    padding: 45px;
    margin: 15px;
    margin-bottom: auto;
 }

 
 #saveLoadMenu li:hover {
    background-color: #353535;
 } 

 #backBtn {
    width:100px;
    font-family: 'Crimson Text', serif;
    height:auto;
    color: #ffe7b7;
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    float:left;
 }

 #backBtn:hover {
    font-weight: 1000;
 }

 .saveLoadHeader {
     font-size: 50px;
 }

 #overwriteContainer {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 5; 
 }

 #overwriteTxt {
     text-align: center;
 }

 .omenuBtn {
    margin-top: 5px;
    margin-left: 10px;
    background-color: #1d1d1d;
    color: #ffe7b7;
    height:20px;
    font-family: 'Crimson Text', serif;
    text-align: center;
    padding: 0;
    width:80px;
    border-color: #ffe7b7;
    border-style: solid;
    border-width: 1px;
    height:auto;
 }

/* ----------- LOG SCREEN ----------- */
 #logOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
 }


